@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif', serif;
}

h2, h3 {
    font-family: 'Yanone Kaffeesatz', serif;
    font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono', monospace;
}

a {
    color:           #000000;
    text-decoration: none;
    text-shadow:     1px 1px 2px #FBB040;
}

h1 {
    text-transform: capitalize;
    color:          #000000;
    text-shadow:    1px 1px 4px #FBB040;
}

h2 {
    text-transform: capitalize;
    display:        inline-block;
    text-align:     center;
    color:          #FBB040;
    text-shadow:    1px 1px 2px #000000;
    border-bottom:  1px solid #FBB040;
}

h3 {
    margin: 0;
}

ul {
    list-style: none;
}

ul li:before {
    content:     '\25A0';
    padding:     10px;
    color:       #000000;
    text-shadow: 1px 1px 4px #FBB040, -1px -1px 4px #FBB040;
}

ul li li:before {
    text-shadow: none;
}

ul li li {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

ul li > p {
    display: inline;
}

li {
    margin-bottom: 2.0em;
}

small, aside, .small {
    color:     grey;
    font-size: 75%;
}

.remark-slide-content {
    text-align: center;
}

.remark-slide-content * {
    text-align: initial;
}

.remark-slide-content h1, .remark-slide-content .title, .title {
    text-align:     center;
    vertical-align: middle;
    display:        block;
}

.console + pre > .remark-code, .remark-code.bash {
    background: #333333 !important;
    margin:     10px;
}

.console + pre > .remark-code *, .remark-code.bash * {
    color:       whitesmoke !important;
    background:  #333333 !important;
    font-weight: inherit;
}

.remark-code.bash .remark-code-line.remark-code-line-highlighted,
.remark-code.bash .remark-code-line.remark-code-line-highlighted * {
    color: #80BD01 !important;
}

.hljs-string {
    font-weight: normal !important;
}

.warncaps {
    font-variant: small-caps;
    font-size:    larger;
}

.aside {
    margin-left: 4em;
}

.remark-inline-code {
    background-color: #F3F3F3;
}

.pad {
    padding: 15px;
}

.highlight-js {
    background: #FBB040 /*rgba(247, 223, 30, 0.5)*/;
}

.color-light {
    color: #FFFFFF;
}

.bgcolor-light, .remark-code.javascript {
    background-color: #FFFFFF;
}

.color-dark {
    color: #000000;
}

.bgcolor-dark {
    background-color: #000000;
}

.color-js {
    color: #FBB040;
}

.bgcolor-js {
    background-color: #FBB040;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}
